click==6.7
coverage==4.4.2
Flask==0.12.2
flask-heroku==0.1.9
Flask-Limiter==1.0.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.10
limits==1.2.1
MarkupSafe==1.0
nose2==0.7.3
num2words==0.5.6
psycopg2==2.7.3.2
six==1.11.0
SQLAlchemy==1.2.1
us==1.0.0
Werkzeug==0.14.1
